
<!-- debts table -->
<table class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs js-table-sortable">
	<thead>
		<tr>
			<th><%= sortable "title", Debt %></th>
			<th class="center"><%= sortable "debt_status_id", Debt %></th>
			<th class="center"><%= sortable "country_id", Debt %></th>
			<th class="center"><%= t('activerecord.attributes.debts/debt.amount')%></th>
			<th class="center"><%= sortable "charge_date", nil, t('debts.debts.index.debt_age') %></th>
			<th class="center"><%= sortable "updated_at", Debt %></th>
			<th class="center"><%= t('actions') %></th>
		</tr>
	</thead>
	<tbody>
		<% debts.each do | debt | %> 
		<tr class="">
			<td class="important">
				<%= "<del>".html_safe if debt.deleted %>
				<%= link_to debt.title, debt_path(debt) %>
				<%= "</del>".html_safe if debt.deleted %>
			</td>
			<td>
				<span class="glyphicons qc-standard <%=status_to_glyphicon(debt.debt_status_id)%>"><i></i><%=Debts::Status.short_text(debt.debt_status_id)%></span>
			</td>
			<td class="center" rel="tooltip" title="<%=debt.address%>">
                <%= Country.find_ex(debt.country_id).i18n_name %>
                <%= image_sprite debt.country_id %>
			</td>
			<td class="center">
				<%=humanized_money_with_symbol debt.amount %>
			</td>
			<td class="center"><%=days_ago_in_words(debt.charge_date) %></td>
			<td class="center"><%=time_ago_in_words_ex( debt.updated_at ) %></td>
			<td>
				<span class="pull-right">
					<% if !debt.deleted %>

						<% if can? :edit, Debt %>
							<%= link_to edit_debt_path(debt), 
									title: t("edit"), class: "btn-action glyphicons pencil btn-success" do%>
								<i></i>
							<% end %>
						<% end %>	

						<%= render partial: 'shared/delete_resource', object: debt%>
					<% end %>
				</span>
			</td>
		</tr>
	<% end %>	
	</tbody>
</table>
<!-- // Products table END -->

<!-- Options -->
<div class="form-inline small">
	
	<div class="pagination pagination-small pull-right">
		<%= will_paginate debts %>
	</div>
	
	<div class="clearfix"></div>
	
</div>