
<!-- Heading -->
<div class="row-fluid">
	<div class="span8">
		<div class="heading-buttons" style="margin-top: 0px;">
			<h1><%=t('.debts_repository')%> <span></span></h1>
			<div class="buttons pull-right" style="margin-top: 15px;">
				<% if can? :create, Debt %>
					<%= link_to new_debt_path, class: "btn btn-primary btn-icon glyphicons circle_plus" do %>
						<i></i> <%=t('.new_debt')%>
					<% end %>
				<% end %>
			</div>
			<div class="clearfix"></div>
		</div>
	

		<div class="separator bottom"></div>

		<div class="innerLR">
		<!-- Row -->
			<div class="row-fluid">
			
				<!-- Column -->
				<div class="span6">
				
					<!-- Widget -->
					<div class="widget widget-heading-simple widget-body-primary">
						
						<!-- Widget heading -->
						<div class="widget-head">
							<h4 class="heading"><%=t('.outstanding_debts')%></h4>
							<!--a href="" class="details pull-right">view all</a-->
						</div>
						<!-- // Widget heading END -->
						
						<div class="widget-body list products">
							<ul>
								<li>
									
									<span class="glyphicons standard alarm"><i></i></span>
									<span class="title post-glyphicons"><%=@debt_statistics[:total_pending]%> <%=t('.debts')%><br/>
										<strong><%=humanized_money_with_symbol(@debt_statistics[:total_pending_amount])%></strong></span>
									<span class="count"></span>
								</li>
							</ul>
						</div>
					</div>
					<!-- // Widget END -->
					
				</div>
				<!-- // Column END -->
				
				<!-- Column -->
				<div class="span6">
				
					<!-- Widget -->
					<div class="widget widget-heading-simple widget-body-default">
					
						<!-- Widget heading -->
						<div class="widget-head">
							<h4 class="heading"><%=t('.resolved_debts')%></h4>
							<!--a href="" class="details pull-right">view all</a-->
						</div>
						<!-- // Widget heading END -->
						
						<div class="widget-body list products">
							<ul>
								<li>
									<span class="glyphicons standard coins"><i></i></span>
									<span class="title post-glyphicons"><%=@debt_statistics[:total_resolved]%> <%=t('.debts')%><br/>
										<strong> 
											<%=humanized_money_with_symbol(@debt_statistics[:total_resolved_amount_paid])%>
											<%=t('out_of')%>
											<%=humanized_money_with_symbol(@debt_statistics[:total_resolved_amount])%>
											(<%=@debt_statistics[:total_resolved_precentage]
											%> %)
										</strong></span>
									<span class="count"></span>
								</li>
							</ul>
						</div>
					</div>
					<!-- // Widget END -->
					
				</div>
				<!-- // Column END -->
				
			</div>
		</div>
	</div>

	<div class="span4">
		<%= render partial: 'widgets/recent_activities/widget' %>
	</div>
</div>


<!-- // Heading END -->


<div class="innerLR">
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-white">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading glyphicons list"><i></i> <%=t('.manage_debts')%></h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
		
			<%= form_tag debts_path, :method => 'get', :id => "live-search" do %>
				<!-- Total products & Sort by options -->
				<div class="form-inline separator bottom">
					<div class="row-fluid">
						<div class="span8 total-table">
							<%=t('.total_debts')%>: <%= @debts.total_entries %>
						</div>
						<div class="span4">
							<div class="input-append pull-right">
								<%= text_field_tag :search, params[:search], "placeholder" => t("search")+"..." %>
								<span class="add-on"><i class="icon-search"></i></span>
							</div>
				         </div>
				     </div>
				</div>
			<% end %>
		
			<div id="live-results">
				<%= render partial: 'debts', locals: {debts: @debts} %>
			</div>
		</div>
	</div>
</div>	