<table class="table table-striped table-condensed table-borderless">
  <tbody>
    <% resources.each do | dp | %>
      <tr>
        <% agency = Agency.find(dp.agency_id) %>
        <% debt = Debts::Debt.find(dp.debt_id) %>
        <td><%= link_to debt.title, debt_path(debt) %></td>
        <td><%= link_to agency.name, agency_path(agency) %></td>
        <td><%=t('updated')%> <%=time_ago_in_words_ex(debt.updated_at)%></td>
        <td>
            <%= link_to new_debt_placement_review_path(dp), class: "no-spinner", role: "button", :"data-toggle" => "modal", :"modal-title" => "Rate #{agency.name}" do %>
              <i class="icon-star icon-2x"></i>
            <% end %>
        </td>
      </tr>
    <% end %>

    <% if resources.length == 0 %> 
      <tr>
        <td>No reviews pending!</td>
      </tr>
    <% end %>
  </tbody>
</table>  

<% if resources.length > 0 %> 
  <%= link_to debts_path + "?sort=updated_at&direction=asc" do%>
    <span class="text-underline">view all</span> 
      <i class="icon-circle-arrow-right"></i>
  <%end%>
<% end %>
