<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-bordered table-striped table-primary table-condensed footable">
  <thead>
    <tr>
      <th class="center" data-class="expand">Status</th>
      <th><%= sortable "name", User %></th>
      <th><%= sortable "account_id", User %></th>
      <th><%= sortable "email", User%></th>
      <th><%= sortable "last_sign_in_at", User%></th>
      <th data-hide="phone"><%= sortable "failed_attempts", User%></th>
    </tr>
  </thead>
  <tbody>
	    <%= render :partial => 'user', collection: @users %>
  </tbody>
</table>

<%= will_paginate %>