<% provide(:title, 'All users') %>

<div class="heading-buttons" style="margin-top: 0px;">
      <h1>Manage Users <span>of your account</span></h1>
      <div class="buttons pull-right" style="margin-top: 15px;">
        <% if can? :create, User %>
          <%= link_to new_user_path, class: "btn btn-primary btn-icon glyphicons circle_plus" do %>
            <i></i> New User
          <% end %>
        <% end %>
      </div>
      <div class="clearfix"></div>
</div>


<div class="innerLR">
  <!-- Widget -->
  <div class="widget widget-heading-simple widget-body-white">
  
    <!-- Widget heading -->
    <div class="widget-head">
    </div>
    <!-- // Widget heading END -->
    
    <div class="widget-body">
    
      <%= form_tag users_path, :method => 'get', :id => "live-search" do %>
        <!-- Total products & Sort by options -->
        <div class="form-inline separator bottom">
          <div class="row-fluid">
            <div class="span8 total-table">
              Total users: <%= @users.total_entries %>
            </div>
            <div class="span4">
              <div class="input-append pull-right">
                <%= text_field_tag :search, params[:search], "placeholder" => "Search..." %>
                <span class="add-on"><i class="icon-search"></i></span>
              </div>
                 </div>
             </div>
        </div>
      <% end %>
    
      <div id="live-results">
        <%= render 'users' %>
      </div>
    </div>
  </div>
</div>  
