<h4><%=options[:main_title]%></h4>
<div class="separator bottom"></div>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span2">
        <strong><%=options[:channels_title]%></strong>
        <p class="muted"><%=options[:channels_explain]%></p>
      </div>
      <div class="span5">
        <%= f.input :phone, input_html: { class: "span10"} %>
      </div>
      <div class="span5">
        <%= f.input :fax, input_html: { class: "span10"} %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="offset2 span5">
        <%= f.input :email, input_html: { class: "span10"} %>
      </div>
    </div>

    
    <div class="row-fluid">
      <div class="span2">
        <strong><%=options[:address_title]%></strong>
        <p class="muted"><%=options[:address_explain]%></p>
      </div>

      <div class="span5">
        <div class="row-fluid">
          <%= f.input :address, input_html: { class: "span11"} %> 
        </div>
        <div class="row-fluid">
          <div class="span6">
            <%= f.input :city, input_html: { class: "span10"} %>
          </div>
          <div class="span6">
            <%= f.input :zipcode, input_html: { class: "span10"} %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <%= f.input :state_id, label: "State", 
                input_html: {class: "bigdrop span10", type: "hidden", id: "state-select"} %>
          </div>
          <div class="span6">
            <%= f.input :country_id, label: "Country", 
                input_html: {class: "bigdrop span10", type: "hidden", id: "country-select"} %>
          </div>
        </div>
      </div>

      <div class="span5">
        <div class="row-fluid">
          <% if resource.geocoded? %>
            <label>Map </label>
            <div class="small-map">
              <%= gmaps(:map_options => {"auto_zoom" => false, "zoom" => 12}, 
                        :markers => { "data" => resource.to_gmaps4rails }) %>
            </div>
          <% end %>
        </div> 
      </div>
    </div>
  </div>
</div>

<script>

// fix google map display (due to the fact that inside tab)
// TODO: find the activate event for the tab
$("#contact-tab").click(function() {
    setTimeout("asjustMap(<%=resource.latitude%>, <%=resource.longitude%>)", 10);
});



// init data based on current selection
var originalState = '<%=resource.state_id%>';
var originalCountry = '<%=resource.country_id%>';

<% if resource.state_id %>
  var states = [{id: <%=resource.state_id%>, text: '<%=State.get_name(resource.state_id)%>'}]; 
<% else %>
  var states = [];
<% end %>

$(function () {
  $("#state-select").select2({
      placeholder: 'Select state',
      data: function() { return {results: states}; },
      formatSelection: formatASelection,
      formatResult: formatAResult
    });
  
  $("#country-select").val("<%=resource.country_id%>").trigger("change");
});

register_select2({
      id: "country-select",
      url: "/countries",
      placeholder: "Select country...",
      selectedText: '<%=resource.country_id ? Country.find_ex(resource.country_id).i18n_name : ""%>',
      per_page: 10} );


  // when country selection is changing we need to reload the states
 $("#country-select").on("change", function(e) 
  {
      // reset and disable states
      states = []
      $("#state-select").select2("disable", true);
      $("#state-select").select2("val", "");
      
      // now we check to see if there are states
      $.ajax({
        url: '/countries/'+ $("#country-select").val() + '/states'
      }).done(function (data) {
          if (data.results.length > 0)
          {
            $("#state-select").select2("enable", true);
            states = data.results;

            if (originalCountry == $("#country-select").val())
              $("#state-select").select2("val", originalState);
          }
      });
  });

</script>