<div class="separator bottom">
  <%= render partial: 'accounts/edit/buttons', locals: {account: @agency} %>
</div>

<%= simple_nested_form_for(@agency, :html => {class: "well form-vertical" }) do |f| %>

<div class="row-fluid">
  <%= render 'shared/error_messages', object: f.object%>
</div>

<div class="wizard">
  <div class="widget widget-tabs widget-tabs-double widget-tabs-vertical row-fluid row-merge widget-tabs-gray">
  
    <!-- Widget heading -->
    <div class="widget-head span3">
      <ul>
        <%= generate_tab('general', @agency, 
                [:name, :logo_resource_id, :website, :notes],
                {class: 'active' , icon: 'user' ,title: 'General', detailts: 'Who are you?' }) %>

        <%= generate_tab('services', @agency, [],
                {icon: 'sampler' ,title: 'Services', detailts: 'What are you specilties?' }) %>

        <%= generate_tab('price-models', @agency, 
                [:name, :min_age, :max_age, :min_amount, :max_amount, :fee_precentage],
                {icon: 'calculator' ,title: 'Price Models', detailts: 'How much do you charge?', id: 'price-models-tab' }) %>

        <%= generate_tab('contact', @agency, 
                [:phone, :fax, :email, :address, :city, :zipcode, :state_id, :country_id],
                {icon: 'globe_af' ,title: 'Contact Information', detailts: 'Where are you located?', id: 'contact-tab' }) %>

        <%= generate_tab('terms', @agency, [],
                {icon: 'certificate' ,title: 'Terms & Conditions', detailts: '' }) %>

      </ul>
    </div>
    <!-- // Widget heading END -->
    
    <div class="widget-body span9">
      <div class="tab-content">

        <div class="tab-pane active" id="general">
          <%= render partial: 'accounts/edit/general', locals: {f: f, account: @agency} %>
        </div>

        <div class="tab-pane" id="services">
          <%= render partial: 'agencies/services', locals: {f: f, agency: @agency} %>
        </div>

        <div class="tab-pane" id="price-models">
           <%= render partial: 'agencies/price_models', locals: { f: f, agency: @agency } %>
        </div>
        
        <div class="tab-pane" id="contact">
           <%= render partial: 'shared/contact', locals: {f: f, resource: @agency,
                  options: 
                  {main_title: 'How can you be reached?', 
                   channels_title: 'Contact Channels',
                   channels_explain: 'How people can contact you',
                   address_title: 'Comapny\'s Address',
                   address_explain: 'Please provide your full address',
                    }} %>
        </div>

        <div class="tab-pane" id="terms">
           <%= render partial: 'agencies/terms', locals: { f: f, agency: @agency } %>
        </div>

        <div class="clearfix"></div> 
      </div>
    </div>
  </div>
</div>
<% end %>


