<div class="row-fluid">
	<div class="span3">
		<!-- Logo -->
		<div class="row-fluid">
			<%= image_tag(@account.thumbnail, class: "center thumbnail profile-thumb") %>
		</div>
		<div class="row-spacing">
		</div>
	</div>

	<div class="span9">
		<div class="row-fluid">
			<!-- Profile General Data-->
			<div class="span8 right-vertical">
				<div class="row-fluid">
					<div class="span11">
						<h1><%=@account.name.upcase%></h1>
						<h2>"This is something catchy..."</h2>
						
						<ul class="icons-ul">
		                    <li rel="tooltip" title="<%=@account.address%>">
		                        <i class="icon-home icon-li icon-fixed-width"></i>	
		                        <%= Country.find_ex(@account.country_id).i18n_name %>
		                        <%= image_sprite @account.country_id %>
		                    </li>
		                    <li>
		                        <i class="icon-calendar icon-li icon-fixed-width"></i>
		                        Members since <%=@account.created_at.strftime("%B %Y")%>
		                    </li>
		                    <li>
		                        <i class="icon-globe icon-li icon-fixed-width"></i>
		                        Website <%=@account.website ? link_to(@account.website, 
						        "http://" + @account.website, :target => '_blank', class: "no-spinner" ) : "Website N/A"%>
		                    </li>
		                
		                	
							
						</ul>
						<div class="separator bottom"></div>
						<table><tbody>
							<% Debts::DebtType.all.each do |debt_type| %>
								
								<% services = @account.agency_services.where(debt_type_id: debt_type) %>
								<% if services.length > 0 %>
									<tr>
										<td>
											<%=debt_type.name%> Services:
										</td>
										<% services.each do | a_service | %>
											<% segment = Debts::DebtSegment.find(a_service.debt_segment_id) %>
											<td>
												<i title='<%="#{Debts::DebtSegment.short_text(segment.id)}"%>' class='<%="#{segment.thumbnail}"%> icon-large icon-fixed-width'></i>
											</td>
										<% end %>
									</tr>
								<% end %>
							<% end %>
						</tbody></table>
						<div class="row-fluid row-spacing">
							<%=@account.notes%>
						</div>
					</div>
				</div>
			</div>
			<!-- Profile Performence Data-->
			<div class="span4">
				<div class="score-widget widget widget-heading-simple widget-body-gray margin-none widget-flat">
					<div class="widget-body center">
						<h2 class="score-text strong muted text-uppercase"><%=t('.score')%></h2>
						<div class="row-fluid">
							<h1 class="score" ><%=score_display(@account)%></h1>
							<%= stars_review(@account.avg_rating) %>
						</div>

						<p>
		            		<%=link_to( "(#{pluralize(@account_reviews_numnber, 'review')})", '#reviews', class: "no-spinner") %>
		            	</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

<div class="row-fluid">
	<div class="span4">
		<%= render partial: 'agencies/widgets/pie', locals: {data: @statistics[:by_segment]} %>
	</div>
	<div class="span4">
		<%= render partial: 'agencies/widgets/pie2', locals: {data: @statistics[:payments]} %>
	</div>
	<div class="span4">
		<%= render partial: 'agencies/widgets/map', locals: {account: @account} %>
	</div>
</div>

<p id="reviews" class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>

<div class="row-fluid">
	<div class="span12">
		<h2 class="margin-none separator bottom">
		  <i class="icon-thumbs-up text-primary icon-fixed-width"></i>
		  <i class="icon-thumbs-down text-primary icon-fixed-width"></i> <%=t('.others_say')%>
		</h2>
		<div class="separator bottom"></div>
		<!-- reviews -->
		<div class="row-fluid">
			<%= render :partial => 'reviews/review', collection: @account_reviews %>
			<%= will_paginate @account_reviews, :params => { :anchor => "reviews" } %>
		</div>
	</div>
</div>


    