<tr>
  <td class="preview">
    <a href="<%=document.resource.url(:original)%>" title="download '<%=document.display_name%>'" rel="gallery" 
      download="<%=document.display_name%>">
      <img src="<%=document.resource.url(:thumb)%>">
    </a>
  </td>
  <td><%= link_to(document.display_name, document) %></td>
  <td><%= document.resource_content_type %></td>
  <td><%= number_to_human_size(document.resource_file_size) %></td>
  <td><%= time_ago_in_words(document.updated_at) %></td>
  <td>
		<%= render partial: 'shared/delete_resource', object: document if false%>
	</td>
</tr>



