<table class="table table-striped table-condensed table-borderless">
  <tbody>
    <% resources.each do | review | %>
      <tr>
        <% creditor = Account.find(User.find(review.user_id).account_id) %>
        <td><%= stars_review(review.review_level, :small) %></td>
        <td><%=t('by')%> <%=link_to creditor.name, account_path(creditor) %></td>
        <td><%=t('updated')%> <%=time_ago_in_words_ex(review.updated_at)%></td>
        <td>
            <%=link_to agency_path(Agency.find(review.agency_id))+"#review#{review.id}" do%>
                <i class="spinner icon-circle-arrow-right icon-2x"></i>
            <% end %>
        </td>
      </tr>
    <% end %>

    <% if resources.length == 0 %> 
      <tr>
        <td><%=t('.no_reviews')%></td>
      </tr>
    <% end %>
  </tbody>
</table>  

<% if resources.length > 0 %> 
  <% account = Account.find(current_user.account_id)%>
  <%= link_to "#{eval(account.class.name.downcase + '_path(' + current_user.account_id.to_s + ')')}#reviews" do%>
    <span class="text-underline"><%=t('widgets.view_all')%></span> 
      <i class="icon-circle-arrow-right"></i>
  <%end%>
<% end %>
