    <!-- Top navbar -->
<div class="navbar main">

  <!-- Menu Toggle Button -->
  <button type="button" class="btn btn-navbar pull-left visible-phone">
    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
  </button>

  <%= link_to(image_tag("quicollect-logo-light-small.png", :alt =>  "Quicollect"), signed_in? ? root_path : sign_in_path, 
      class: "pull-left #{signed_in? ? '': 'no-spinner'}", style: "margin: 10px") %>
  
  <% if signed_in? %>
  <!-- // Menu Toggle Button END -->

  <!-- Full Top Style -->
  <ul class="topnav pull-left">
    <li class="<%= 'active' if params[:controller] == 'dashboard' %>">
        <%= link_to root_path, class: "glyphicons home" do %>
          <i></i> <%=t 'menus.home' %>
        <% end %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'debts/debts' %>">
        <%= link_to debts_path, class: "glyphicons coins" do %>
          <i></i> <%=t 'menus.debts' %>
        <% end %>
    </li>
    <li class="dropdown dd-1 <%= 'active' if ((['accounts', 'users', 'documents'].include? params[:controller]) || 
                (params[:controller] == 'agencies' && params[:id] == current_user.account_id))%>">
      <a class="glyphicons nameplate_alt no-spinner" data-toggle="dropdown" href=""><i></i>
          <%=t 'menus.company' %> 
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-left">
        <li>
            <%= link_to account_edit_path(current_user.account_id), class: "glyphicons pencil" do %>
               <%=t('menus.edit')%><i></i>
              <% end %>
        </li>
        <li>
          <% if Account.find(current_user.account_id).class.name == 'Agency' %>
            <%= link_to agency_path(current_user.account_id), class: "glyphicons globe" do %>
               <%=t('menus.public')%><i></i>
              <% end %>
          <% end %>
        </li>
        <% if can? :index, User %>
        <li>
            <%= link_to users_path, class: "glyphicons group" do %>
               <%=t('menus.users')%><i></i>
              <% end %>
        </li>
        <% end %>
        <li>
            <%= link_to documents_path, class: "glyphicons blog" do %>
              <%=t('menus.documents')%><i></i>
            <% end %>
        </li>
      </ul>
    </li>
    
    <% if current_user.original_user.is_admin? %>
    <li class="dropdown dd-1 <%= 'active' if ((['creditors', 'agencies'].include? params[:controller]) && params[:id] != current_user.account_id) %>">
      <a class="glyphicons cogwheel no-spinner" data-toggle="dropdown" href=""><i></i>
          <%=t 'menus.admin' %> 
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-left">
        <li>
            <%= link_to agencies_path, class: "glyphicons old_man" do %>
               <%=t('menus.agencies')%><i></i>
              <% end %>
        </li>
        <li>
            <%= link_to creditors_path, class: "glyphicons parents" do %>
               <%=t('menus.creditors')%><i></i>
              <% end %>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
  <!-- // Full Top Style END -->
        
  <!-- // Not Blank Page END -->
        
        
        <!-- Top Menu Right -->
  <ul class="topnav pull-right hidden-phone">
    <% if current_user.is_admin_origin?%>
      <li>
        <input class="optional switch-user bigdrop span2" id="users-select" step="1" type="hidden" />
      </li>
    <% end %>

    <!-- Profile / Logout menu -->
    <li class="account dropdown dd-1">
        <a data-toggle="dropdown" href="" class="glyphicons logout lock no-spinner">
          <span class="hidden-tablet hidden-phone hidden-desktop-1">
          <%=current_user.name%></span><i></i>
        </a>
      <ul class="dropdown-menu pull-right">
        <li>
          <%= link_to account_edit_path(current_user.account_id), class: "glyphicons settings" do %>
           <%=t('menus.company_setting')%> <i></i>
          <% end %>
        </li>
        <li class="profile">
          <span>
            <a href="my_account_advanced.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="img thumb">
              <img data-src="holder.js/31x31/dark" alt="Avatar" />
            </a>
            <span>
              <%= link_to user_path(current_user) do %>
                <div class="strong"><%= current_user.name %></div>
                <div><%= current_user.email %></div>
              <% end %> 
            </span>
            <span class="clearfix"></span>
          </span>
        </li>

        <li>
          <span>
            <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-default btn-mini pull-right", method: "delete" %>
          </span>
        </li>
      </ul>
              </li>
    <!-- // Profile / Logout menu END -->
    
  </ul>
  <!-- // Top Menu Right END -->
  
  <!--ul class="topnav pull-right hidden-phone">
    <li><a href="" class="glyphicons envelope single-icon"><i></i><span class="badge fix badge-primary">5</span></a></li>
    <li><a href="" class="glyphicons cup single-icon"><i></i><span class="badge fix badge-primary">7</span></a></li>
    <li class="hidden-tablet"><a href="" class="glyphicons comments single-icon"><i></i><span class="badge fix badge-primary">3</span></a></li>
  </ul-->

  <% end %>

  <div class="clearfix"></div>
  
</div>
<!-- Top navbar END -->

<% if signed_in? && current_user.is_admin_origin? %>
  <script>
  register_select2({
        id: "users-select",
        url: "<%=users_switch_index_path%>.json",
        placeholder: "Switch user...",
        selectedText: '<%=current_user.id%>',
        onSelectionChange: function(item) {
          location.href = '/switch_user?scope_identifier=user_' + item.id;
        },
        per_page: 5} );
  </script>
<% end %>