<!DOCTYPE html>
<%= render 'layouts/html' %> 
  <head>

  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

  <title><%= full_title(yield(:title)) %></title>  

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= render 'layouts/iecss' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <script>
  //<![CDATA[
  var basePath = '',
    commonPath = '../../../../../common/';

  // colors
  //#0A111F -> #393939
  //#BBBBBB -> #7E8AA2
  //#E5412D -> #C73226
  //#F4F4F4 -> #E3E3E3
  //#424242 -> #263248
  var primaryColor = '#0A111F',//#C73226',
    dangerColor = '#055151',
    successColor = '#009450',
    warningColor = '#0b7a4b',
    inverseColor = '#05484d';

  var themerPrimaryColor = primaryColor;
  //]]>
  </script>
  
</head>
<body class="document-body" data-no-turbolink>
  
    <!-- Main Container Fluid -->
  <div class="container-fluid menu-hidden sidebar-hidden-phone fluid menu-left">
    
    <!-- Content -->
    <div id="content">   

      <%= render 'layouts/navbar' %>

      <div id="inner-content" class="innerLR innerT">
        <div class="overlay"></div>
        <div id ="spinner" style="position:fixed;top:50%;left:50%"></div>

        <% if flash.count > 0 %>
            <div class="row-fluid">
              <div class="span12">
                <% flash.each do |name, msg| %>
                  <% if msg.is_a?(String) %>
                  <div class="row-fluid">
                    <div class="alert alert-<%=name%>" >
                        <a class="close no-spinner" data-dismiss="alert">&#215;</a>
                        <%=msg%>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              </div> 
            </div>
        <% end %>


        <% if params[:controller] != 'dashboard' && signed_in?%>
          <div class="row-fluid">
            <div class="span12">
              <%= render partial: 'layouts/breadcrumbs'%>
            </div> 
          </div>
          <div class="separator bottom"> </div>
        <% end %>

     
        <%= yield %>
        <%= yield :scripts %>

        <div class="row-fluid">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
    <!-- // Content END -->

    <div class="clearfix"></div>
    <%= render 'layouts/footer' %>
    
    <!-- // Sidebar menu & content wrapper END -->
    
  </div>
  
  <!-- // Main Container Fluid END -->
  
  </div>
  <%= javascript_include_tag "footer", "data-turbolinks-track" => true %>
  <%= render 'layouts/iejs' %>

</body>
</html>