<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<% cls = resource_name.classify.constantize %>
<table class="table table-bordered table-striped table-hover footable">
  <thead>
    <tr>
      <th data-class="expand">Logo</th>
      <th><%= sortable "name", cls %></th>
      <th><%= sortable "country_id", cls %></th>
      <th data-hide="phone"><%= sortable "website", cls %></th>
    </tr>
  </thead>
  <tbody>
	    <%= render :partial => "accounts/account_row", collection: resources, locals: { resource_name: resource_name } %>
  </tbody>
</table>

<%= will_paginate resources %>